parameters:
	ignoreErrors:
		-
			message: '#^Cannot access offset ''height'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Controller/PageCallController.php

		-
			message: '#^Cannot access offset ''hitId'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Controller/PageCallController.php

		-
			message: '#^Cannot access offset ''width'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Controller/PageCallController.php

		-
			message: '#^Parameter \#1 \$campaign of method Zhortein\\SeoTrackingBundle\\Entity\\PageCall\:\:setCampaign\(\) expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/PageCallController.php

		-
			message: '#^Parameter \#1 \$content of method Zhortein\\SeoTrackingBundle\\Entity\\PageCall\:\:setContent\(\) expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/PageCallController.php

		-
			message: '#^Parameter \#1 \$language of method Zhortein\\SeoTrackingBundle\\Entity\\PageCallHit\:\:setLanguage\(\) expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/PageCallController.php

		-
			message: '#^Parameter \#1 \$medium of method Zhortein\\SeoTrackingBundle\\Entity\\PageCall\:\:setMedium\(\) expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/PageCallController.php

		-
			message: '#^Parameter \#1 \$pageCall of class Zhortein\\SeoTrackingBundle\\Event\\PageCallExitEvent constructor expects Zhortein\\SeoTrackingBundle\\Entity\\PageCall, Zhortein\\SeoTrackingBundle\\Entity\\PageCallInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/PageCallController.php

		-
			message: '#^Parameter \#1 \$pageTitle of method Zhortein\\SeoTrackingBundle\\Entity\\PageCallHit\:\:setPageTitle\(\) expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/PageCallController.php

		-
			message: '#^Parameter \#1 \$pageType of method Zhortein\\SeoTrackingBundle\\Entity\\PageCallHit\:\:setPageType\(\) expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/PageCallController.php

		-
			message: '#^Parameter \#1 \$route of method Zhortein\\SeoTrackingBundle\\Entity\\PageCall\:\:setRoute\(\) expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/PageCallController.php

		-
			message: '#^Parameter \#1 \$routeArgs of method Zhortein\\SeoTrackingBundle\\Entity\\PageCall\:\:setRouteArgs\(\) expects array\<string, mixed\>\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/PageCallController.php

		-
			message: '#^Parameter \#1 \$screenHeight of method Zhortein\\SeoTrackingBundle\\Entity\\PageCallHit\:\:setScreenHeight\(\) expects int\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/PageCallController.php

		-
			message: '#^Parameter \#1 \$screenWidth of method Zhortein\\SeoTrackingBundle\\Entity\\PageCallHit\:\:setScreenWidth\(\) expects int\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/PageCallController.php

		-
			message: '#^Parameter \#1 \$source of method Zhortein\\SeoTrackingBundle\\Entity\\PageCall\:\:setSource\(\) expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/PageCallController.php

		-
			message: '#^Parameter \#1 \$term of method Zhortein\\SeoTrackingBundle\\Entity\\PageCall\:\:setTerm\(\) expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/PageCallController.php

		-
			message: '#^Parameter \#1 \$url of method Zhortein\\SeoTrackingBundle\\Entity\\PageCall\:\:setUrl\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/PageCallController.php

		-
			message: '#^Parameter \#1 \$userAgent of method Zhortein\\SeoTrackingBundle\\Controller\\PageCallController\:\:isBot\(\) expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/PageCallController.php

		-
			message: '#^Call to function method_exists\(\) with Zhortein\\SeoTrackingBundle\\Entity\\PageCall and ''getCampaign'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/EventListener/PageCallTrackedListener.php

		-
			message: '#^Call to function method_exists\(\) with Zhortein\\SeoTrackingBundle\\Entity\\PageCall and ''getContent'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/EventListener/PageCallTrackedListener.php

		-
			message: '#^Call to function method_exists\(\) with Zhortein\\SeoTrackingBundle\\Entity\\PageCall and ''getFirstCalledAt'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/EventListener/PageCallTrackedListener.php

		-
			message: '#^Call to function method_exists\(\) with Zhortein\\SeoTrackingBundle\\Entity\\PageCall and ''getLastCalledAt'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/EventListener/PageCallTrackedListener.php

		-
			message: '#^Call to function method_exists\(\) with Zhortein\\SeoTrackingBundle\\Entity\\PageCall and ''getMedium'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/EventListener/PageCallTrackedListener.php

		-
			message: '#^Call to function method_exists\(\) with Zhortein\\SeoTrackingBundle\\Entity\\PageCall and ''getRoute'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/EventListener/PageCallTrackedListener.php

		-
			message: '#^Call to function method_exists\(\) with Zhortein\\SeoTrackingBundle\\Entity\\PageCall and ''getRouteArgs'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/EventListener/PageCallTrackedListener.php

		-
			message: '#^Call to function method_exists\(\) with Zhortein\\SeoTrackingBundle\\Entity\\PageCall and ''getSource'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/EventListener/PageCallTrackedListener.php

		-
			message: '#^Call to function method_exists\(\) with Zhortein\\SeoTrackingBundle\\Entity\\PageCall and ''getTerm'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/EventListener/PageCallTrackedListener.php

		-
			message: '#^Call to function method_exists\(\) with Zhortein\\SeoTrackingBundle\\Entity\\PageCall and ''getUrl'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/EventListener/PageCallTrackedListener.php

		-
			message: '#^Call to function method_exists\(\) with Zhortein\\SeoTrackingBundle\\Entity\\PageCall and ''isBot'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/EventListener/PageCallTrackedListener.php

		-
			message: '#^Call to function method_exists\(\) with Zhortein\\SeoTrackingBundle\\Entity\\PageCallHit and ''getAnonymizedIp'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/EventListener/PageCallTrackedListener.php

		-
			message: '#^Call to function method_exists\(\) with Zhortein\\SeoTrackingBundle\\Entity\\PageCallHit and ''getCalledAt'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/EventListener/PageCallTrackedListener.php

		-
			message: '#^Call to function method_exists\(\) with Zhortein\\SeoTrackingBundle\\Entity\\PageCallHit and ''getDelaySincePrevio…'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/EventListener/PageCallTrackedListener.php

		-
			message: '#^Call to function method_exists\(\) with Zhortein\\SeoTrackingBundle\\Entity\\PageCallHit and ''getExitedAt'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: src/EventListener/PageCallTrackedListener.php

		-
			message: '#^Call to function method_exists\(\) with Zhortein\\SeoTrackingBundle\\Entity\\PageCallHit and ''getLanguage'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/EventListener/PageCallTrackedListener.php

		-
			message: '#^Call to function method_exists\(\) with Zhortein\\SeoTrackingBundle\\Entity\\PageCallHit and ''getPageTitle'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/EventListener/PageCallTrackedListener.php

		-
			message: '#^Call to function method_exists\(\) with Zhortein\\SeoTrackingBundle\\Entity\\PageCallHit and ''getPageType'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/EventListener/PageCallTrackedListener.php

		-
			message: '#^Call to function method_exists\(\) with Zhortein\\SeoTrackingBundle\\Entity\\PageCallHit and ''getParentHit'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/EventListener/PageCallTrackedListener.php

		-
			message: '#^Call to function method_exists\(\) with Zhortein\\SeoTrackingBundle\\Entity\\PageCallHit and ''getReferrer'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/EventListener/PageCallTrackedListener.php

		-
			message: '#^Call to function method_exists\(\) with Zhortein\\SeoTrackingBundle\\Entity\\PageCallHit and ''getScreenHeight'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/EventListener/PageCallTrackedListener.php

		-
			message: '#^Call to function method_exists\(\) with Zhortein\\SeoTrackingBundle\\Entity\\PageCallHit and ''getScreenWidth'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/EventListener/PageCallTrackedListener.php

		-
			message: '#^Call to function method_exists\(\) with Zhortein\\SeoTrackingBundle\\Entity\\PageCallHit and ''getUserAgent'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/EventListener/PageCallTrackedListener.php

		-
			message: '#^Call to function method_exists\(\) with Zhortein\\SeoTrackingBundle\\Entity\\PageCallHit and ''isBot'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/EventListener/PageCallTrackedListener.php

		-
			message: '#^Cannot call method getContent\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/EventListener/PageCallTrackedListener.php

		-
			message: '#^Method Zhortein\\SeoTrackingBundle\\EventListener\\PageCallTrackedListener\:\:safeContent\(\) has parameter \$response with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/EventListener/PageCallTrackedListener.php

		-
			message: '#^Method Zhortein\\SeoTrackingBundle\\EventListener\\PageCallTrackedListener\:\:safeContent\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/EventListener/PageCallTrackedListener.php

		-
			message: '#^Method Zhortein\\SeoTrackingBundle\\EventListener\\PageCallTrackedListener\:\:sendApiRequest\(\) has parameter \$payload with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/EventListener/PageCallTrackedListener.php
